# Secrets
.env

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/

# Uploads
uploads/
*.pdf
*.png
*.jpg
*.jpeg

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
